<div class="innerElement">
    <div class="innerElement">
    <div class="innerElementHeader">
        <a>
          Block image + text
        </a>
    </div>
    <div class="innerElementImage">
        <img src="img/universeum.png">
        <a>
            Welcome to the Nordic region’s largest Science Centre! Universeum is open every day of the year – including Christmas Eve. <br/>
           
        </a>
    </div>
       <div class="horizontalLine">
        </div>
    <div class="innerElementText">
        <div class="innerElementExplainText">
            <h4>Explanatory text:</h4>
            <a>
               To add a image to a website in HTML, the tag &lt;img&gt; is used.<br/> In order to select which image to show, the tag is combined with “src”, which is a HTML word for “search”. <br/>
           The tag &lt;p&gt; is used to tell the browser that the entered text should be a paragraph.<br/> The tag &lt;h1&gt; is used for headings. <br/>One example of this is:
            </a>
        </div>
        <div class="innerElementCodeText">
           <!-- &emsp; = tab, &lt; = <, &gt; = > -->
            <h4>How it looks in HTML:</h4>
            <p>  
            &lt;div&gt;<br/>
            &emsp;&emsp;&lt;img src=”icecream.jpg”&gt; <br/>
            &emsp;&emsp;&lt;p&gt; “This is a paragraph.”&lt;/p&gt;<br/>
               &emsp;&emsp; or<br/>
            
            &emsp;&emsp;&lt;h1&gt; “This is a heading.”&lt;/h1&gt;<br/>
            &lt;/div&gt;
            </p>
        </div>
    </div>
</div>
</div>