<div class="innerElement">
    <div class="innerElement">
    <div class="innerElementHeader">
        <a>
           Block theme
        </a>
    </div>
    <div class="innerElementImage">
        <img src="img/block6.png">
    </div>
       <div class="horizontalLine">
        </div>
    <div class="innerElementText">
        <div class="innerElementExplainText">
            <h4>Explanatory text:</h4>
            <a>
                Theme blocks are used in tangiweb to decide which content block are related to a certain theme. If placing the "rainforest thema" in the red theme block compartment, the red content blocks are related to the "rainforest theme". 
            </a>
        </div>
        <div class="innerElementCodeText">
           <!-- &emsp; = tab, &lt; = <, &gt; = > -->
            
        </div>
    </div>
</div>
</div>